%ul.nav.nav-sidebar
  / %li.active
  /   .row
  /     .col-sm-12
  /       = form_tag '/clients', method: 'GET' do
  /         .input-group
  /           %input.form-control{:placeholder => "Buscar cliente...", :type => "text", name: 'client_search'}
  /             %span.input-group-btn
  /               = submit_tag 'Buscar', class: "btn btn-default"
  %li
    %a{:href => "#"} Reports
  %li
    %a{:href => "#"} Analytics
  %li
    %a{:href => "#"} Export