%ul.nav.nav-sidebar
  = render partial: 'shared/search_form.html.haml'
  - if @client
    %br
    %li
      = link_to 'Volver a Servicio', [@client, @place, @service]

  - if @service_date && @service_date.persisted?
    %hr
    %li
      = link_to 'Editar fecha de servicio', edit_client_place_service_service_date_path(@client, @place, @service, @service_date)