.page-header
  = link_to contracts_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_contract_path(@contract), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show contract

%dl.dl-horizontal
  %dt Plazos:
  %dd= @contract.plazos
  %dt Price:
  %dd= @contract.price
