%li
  .row
    .col-sm-12
      = form_tag '/clients', method: 'GET' do
        .input-group{style: 'margin: 0 10px;'}
          %input.form-control{:placeholder => "Buscar cliente...", :type => "text", name: 'client_search'}
            %span.input-group-btn
              = submit_tag 'Buscar', class: "btn btn-default"
%br
%li
  .row
    .col-sm-12
      = form_tag '/places', method: 'GET' do
        .input-group{style: 'margin: 0 10px;'}
          %input.form-control{:placeholder => "Buscar local...", :type => "text", name: 'place_search'}
            %span.input-group-btn
              = submit_tag 'Buscar', class: "btn btn-default"
%br